<footer class="site-footer">




      <!--  logo-->
      <div class="site-logo_footer">

            <a href="/">
              <img src="\img\LOGO-NG.svg" alt="logo">
            </a>
        </div>



  <div class="wrapper">

    <h4 class="widget-title">me on the web</h4>
    <aside class="social-media_footer">

      <!--  social media links-->

      <div class="social-media_footer">
        <ul>
          <li><a href="https://pt.linkedin.com/in/nilsongaspar">
            <img src="\img\linkedin_alt.png" alt="linkedin">
          </a></li>
          <li><a href="https://www.behance.net/aosparesdetres">
            <img src="\img\behance.png" alt="behance" />
          </a></li>
            </ul>
      </div>
    </aside>
    <div class="site-copyright">
      <span><p>&copy 2016 Nilson Gaspar</p></span>
    </div>

  </div>

</footer>
