<footer class="site-footer">


  <div class="wrapper-foot">

    <!-- <h4 class="widget-title">me on the web</h4> -->
    <!--  flexin the foot-->
    <div class="footflex">

      <!--  social media links-->



      <!--  copyright -->
      <div class="site-copyright">
        <span><p>&copy 2016 Nilson Gaspar</p></span>
        <div class="social-media_footer">
          <ul>
            <li>
              <a href="https://pt.linkedin.com/in/nilsongaspar">
                <img src="\img\linkedin_alt.png" alt="linkedin">
              </a>
            </li>
            <li>
              <a href="https://www.behance.net/aosparesdetres">
                <img src="\img\behance.png" alt="behance" />
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>

</footer>
