<div class="portefolio-area flexbox">
<!--  primeiro thumbnail-->
  <article class="self__brand">
    <div class="project-thumbnail-image">
      <img src="\img\SELF-BRAND.jpg" alt="" >

    </div>
  </article>

  <!--  segundo thumbnail-->

<article class="hamburgueria">
  <div class="project-thumbnail-image">
    <img src="\img\hamburgueria.jpg" alt="">
  </div>
</article>

<!--  terceiro thumbnail-->

<article class="music-app">
  <div class="project-thumbnail-image">
    <img src="\img\dj-rate.jpg" alt="" />
  </div>
</article>

<!--  quarto thumbnail-->

<article class="it-people">
  <div class="project-thumbnail-image">
    <img src="\img\it-people.jpg" alt="" >
  </div>

</article>

<!--  quinto thumbnail-->

<article class="weetabix">
  <div class="project-thumbnail-image">
    <img src="\img\WEETABIX.jpg" alt="">
  </div>
</article>

<!--  sexto thumbnail-->

<article class="imagens-de-marca">
  <div class="project-thumbnail-image">
  </div>
    <img src="\img\IMAGENS-DE-MARCA.jpg" alt="">
</article>


</div>
