<p class="personal-description-one">
  Welcome to my website.</p>
<p class="personal-description">My name is Nilson Gaspar and I’m a communication designer born in Luanda and raised in Lisbon. Currently I live in beautiful Lisbon South Bay, working as a freelancer. The Gaspar is my home online and the place where I share my thoughts and showcase my
  work as a communication designer.</p>
<hr>

<div class="portefolio-area flexbox">
  <!--  primeiro thumbnail-->
  <article class="self__brand">
    <figure class="project-thumbnail-image">
      <img src="\img\SELF-BRAND.jpg" alt="">
      <figcaption>
        <h3>Marca pessoal</h3>
        <p>
          The creation of my personal brand.
        </p>
      </figcaption>
      <i class="ion-ios-home-outline"></i>
      <a href="{{site.baseurl}}/self__brand/index.html"></a>
    </figure>
  </article>

  <!--  segundo thumbnail-->

  <article class="hamburgueria">
    <figure class="project-thumbnail-image">
      <img src="\img\hamburgueria.jpg" alt="">
      <figcaption>
        <h3>Burger app</h3>
        <p>
          Which is worse, that everyone has his price, or that the price is always so low.
        </p>
      </figcaption>
      <i class="ion-ios-home-outline"></i>
      <a href="{{site.baseurl}}/burger__app/index.html"></a>
    </figure>
  </article>

  <!--  terceiro thumbnail-->

  <article class="music-app">
    <figure class="project-thumbnail-image">
      <img src="\img\dj-rate.jpg" alt="">
      <figcaption>
        <h3>Dj Rate</h3>
        <p>
          Which is worse, that everyone has his price, or that the price is always so low.
        </p>
      </figcaption>
      <i class="ion-ios-personadd-outline"></i>
      <a href="{{site.baseurl}}dj__rate\index.html"></a>
    </figure>
  </article>

  <!--  quarto thumbnail-->

  <article class="cereais">
    <figure class="project-thumbnail-image">
      <img src="\img\WEETABIX.jpg" alt="">
      <figcaption>
        <h3>Weetabix</h3>
        <p>
          Which is worse, that everyone has his price, or that the price is always so low.
        </p>
      </figcaption>
      <i class="ion-ios-personadd-outline"></i>
      <a href="{{site.baseurl}}/weetabix/index.html"></a>
    </figure>
  </article>

  <!--  quinto thumbnail-->

  <article class="branding it-people">
    <figure class="project-thumbnail-image">
      <img src="\img\it-people.jpg" alt="">
      <figcaption>
        <h3>IT-People</h3>
        <p>
          Which is worse, that everyone has his price, or that the price is always so low.
        </p>
      </figcaption>
      <i class="ion-ios-personadd-outline"></i>
      <a href="{{site.baseurl}}/it__people/index.html"></a>
    </figure>
  </article>

  <!--  sexto thumbnail-->

  <article class="branding imagens-de-marca">
    <figure class="project-thumbnail-image">
      <img src="\img\IMAGENS-DE-MARCA.jpg" alt="">
      <figcaption>
        <h3>Weetabix</h3>
        <p>
          Which is worse, that everyone has his price, or that the price is always so low.
        </p>
      </figcaption>
      <i class="ion-ios-personadd-outline"></i>
      <a href="#"></a>
    </figure>
  </article>


</div>
