<header class="site-header" "role=banner">

  <div class="flex-container">
<!--  logo-->
    <div class="site-logo">

        <a href="/">
          <img src="\img\LOGO-NG.svg" alt="logo">
        </a>
    </div>

<!--  navegação-->
      <nav class="site-nav">
                      <ul class="nav-menu">
                              <li ><a href="#">work</a></li>
                              <li><a href="#">about</a></li>
                              <li><a href="#">hire me</a></li>
            </ul>
      </nav>
  </div>
</header>
