<h1>Get Started</h1>
<br>
<br>
<br>
<h2>Design Document</h2>
<br>
<br>
<p>
  The Design Document is the most important part of the delivery. It is here the final product
  is presented and the thinking behind each design decisions explained.
</p>
<br>
<br>
<h2>Rendered Images of the Product</h2>
<br>
<br>
<p>
  The delivery will include high quality realistic looking images of the product that are
  perfect for use in presentations and marketing campaigns.
</p>
<br>
<br>
<h2>Sketches of Concepts</h2>
<br>
<br>
<p>
  As a part of the design process sketches will be created to explore the viability of different concepts. These are a great to have for presenting
  the product and describing the process that led up to the final design.
</p>
<br>
<br>
<p>To find out the complexity level of your
  project you can contact me by mail <a href="mailto:aosparesdetres@gmail.com">Email me</a></p>
