<h2 class="top-hero">

  <img src="\it__people\hero-top.jpg" alt="marca pessoal">
</h2>



<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<h2 class="intro-text">constructing my personal brand.</h2>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>

<h2>
  <img src="\self__brand\jumbotron-self__branding.jpg" alt="marca pessoal">
</h2>
<p><br></p>
<p class="centered-paragraph centered-paragraph__first-description">My personal logo is the combination of my initials N+G fused togheter,
  in a clean and simplistic approach. </p>

<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Exploring</h2>
<p><br></p>
<p><br></p>
<p class="paragraph-image-description">
    The ideation process started with the basic notion that both of my initials should
    be incorporated into one another.
    By making it collapsable in one direction the hope was to achieve greater
    foldability so it reads as a single N.
</p>
<p><br></p>

<h2>
  <img src="\self__brand\LINHASCONSTRUÇAO.jpg" alt="construção logo">
</h2>
<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered ">
  Colours scheme</h2>
  <p><br></p>
  <p><br></p>
<h2>
  <img src="\self__brand\colour-palette.jpg" alt="">
</h2>
<p><br></p>
<p><br></p>
<p class="paragraph-image-description">
I kept the same mindset of simplicity for the colours, chosing three colours as base
and generating a custom palette for the overal branding.
</p>
<p><br></p>
<h2>
  <img src="\self__brand\FUNDOCORES.jpg" alt="">
</h2>
<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Final presentation</h2>
<p><br></p>
<p><br></p>
<p class="centered-paragraph centered-paragraph__first-description">
The final design implemented in various materials.
</p>
<p><br></p>
<h2>
  <img src="\self__brand\bussness-cards-top.jpg" alt="">
</h2>

<h2>
  <img src="\self__brand\sketchbook.jpg" alt="">
</h2>

<h2>
  <img src="\self__brand\STAMP.jpg" alt="">
</h2>

<h2>
  <img src="\self__brand\bag.jpg" alt="">
</h2>
