<h2 class="top-hero">

  <img src="\self__brand\top.jpg" alt="marca pessoal">
</h2>



<p class="espaços">
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
</p>
<h2 class="intro-text">constructing my personal brand.</h2>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>

<h2>
  <img src="\self__brand\jumbotron-self__branding.jpg" alt="marca pessoal">
</h2>
<p>My personal logo is the combination of my initials N+G fused togheter, in a clean and somplistic approach. </p>
