<h2 class="top-hero">

  <img src="\it__people\hero-top.jpg" alt="marca pessoal">
</h2>



<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<h2 class="intro-text">rebranding an it company.</h2>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>

<h2>
  <img src="\it__people\luis-martins-ceo.jpg" alt="">
</h2>
<p><br></p>
<p class="centered-paragraph centered-paragraph__first-description">
This project is my rebrand to IT People Innovation company.
 </p>

<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Background</h2>
<p><br></p>
<p><br></p>
<p class="paragraph-image-description">
    It-people innovation is a portuguese based company committed in providing costumized IT services
for medium and large companies. The company develops medium and large  projects in a variety of technologies including web,
mobile and business intelligence/big data.
They act upon three major areas: consulting, outsourcing and augmented reality.

</p>
<p><br></p>

<h2>
  <img src="\it__people\old-logo.jpg" alt="construção logo">
</h2>
<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered ">
  Exploring concepts</h2>
  <p><br></p>
  <p><br></p>
<h2>
  <img src="\it__people\sketching.jpg" alt="">
</h2>
<p><br></p>
<p><br></p>
<p class="paragraph-image-description">
	The idea that supports the whole logo design process rests in the fact
that i want to convey a subliminal meaning. The triangle/pyramidal shape
represent the company as a whole, along with the 3 main areas of action,
with a strong base. The electronic synapses represent the IT area of action,
while the right side of the pyramid represents the augmented reality,
playing with a tri-dimensional effect.
</p>
<p><br></p>
<h2>
  <img src="\it__people\triangle+synpses.jpg" alt="">
</h2>
<h2>
  <img src="\it__people\contruction-lines.jpg" alt="">
</h2>
<h2>
  <img src="\it__people\colour-palette.jpg" alt="">
</h2>
<h2>
  <img src="\it__people\fundos-colours.jpg" alt="">
</h2>
<h2>
  <img src="\it__people\responsive-logo.jpg" alt="">
</h2>
<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Final presentation</h2>
<p><br></p>
<p><br></p>
<p class="centered-paragraph centered-paragraph__first-description">
The final design implemented in various materials.
</p>
<p><br></p>
<h2>
  <img src="\self__brand\bussness-cards-top.jpg" alt="">
</h2>

<h2>
  <img src="\self__brand\sketchbook.jpg" alt="">
</h2>

<h2>
  <img src="\self__brand\STAMP.jpg" alt="">
</h2>

<h2>
  <img src="\self__brand\bag.jpg" alt="">
</h2>
