<h2 class="top-hero">

  <img src="\burger__app\jumbotron_burger.jpg" alt="marca pessoal">
</h2>



<p class="espaços">
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
</p>
<h2 class="intro-text">A burger app to solve a problem.</h2>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>

<h2>
  <img src="\burger__app\final-app-splash.jpg" alt="marca pessoal">
</h2>
<p><br></p>
<p class="paragraph-image-description">
  I created this app for a local burger place, that has grown really fast
  and did not have an online presence other than it's facebook page.
 As a regular costumer and a problem solver, i took it upon myself to find a solution.
 </p>

<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Exploring</h2>
<p><br></p>
<p><br></p>

  <h2>
  <img src="\burger__app\user-flow.jpg" alt="">
</h2>

  <p>After conducting research on competitive analysis to better understand the market
  context, i managed to gather user feedback from friends, who are also clients of
  the company to better develop a user flow.
 </p>
<h2>
  <img src="\burger__app\icon-sketch.jpg" alt="">
</h2>
<p class="centered-paragraph centered-paragraph__first-description">
The new logo process.
</p>
<p><br></p>
<h2>
  <img src="\burger__app\sketchbook.jpg" alt="construção logo">
</h2>
<p><br></p>

<p>
  The next step was building a high fidelity wireframing with balsamiq mockups
  to achieve a more polished and finalized look.
</p>
<p><br></p>
<h2>
  <img src="\burger__app\balsamiq_wireframe.jpg" alt="">
</h2>
<p><br></p>
<p><br></p>
<h2>
  <img src="\burger__app\SCREEN__SIZES.jpg" alt="">
</h2>
<h2 class="process-title process-title__centered ">
  Interaction and animation</h2>
  <p><br></p>
  <p><br></p>
<h2>
  <img src="\burger__app\login_faceplace1.gif" alt="">
</h2>
<h2>
  <img src="\burger__app\tutorial.gif" alt="">
</h2>
<h2>
  <img src="\burger__app\menu_scroll--tab.gif" alt="">
</h2>
<h2>
  <img src="\burger__app\scroll_menu--tabs.gif" alt="">
</h2>
<p><br></p>
<p><br></p>
<p class="paragraph-image-description">
I kept the same mindset of simplicity for the colours, chosing three colours as base
and generating a custom palette for the overall branding.
</p>
<p><br></p>
<h2>
  <img src="\self__brand\FUNDOCORES.jpg" alt="">
</h2>
<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Final presentation</h2>
<p><br></p>
<p><br></p>
<p class="centered-paragraph centered-paragraph__first-description">
The final design implemented in various materials.
</p>
<p><br></p>
<h2>
  <img src="\self__brand\bussness-cards-top.jpg" alt="">
</h2>

<h2>
  <img src="\self__brand\sketchbook.jpg" alt="">
</h2>

<h2>
  <img src="\self__brand\STAMP.jpg" alt="">
</h2>

<h2>
  <img src="\self__brand\bag.jpg" alt="">
</h2>
