<h2 class="top-hero">

  <img src="\dj__rate\jumbotron.jpg" alt="dj rate app>
</h2>



<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<h2 class="intro-text">The app that ensures the party never stop.</h2>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>

<h2>
  <img src="\dj__rate\splash-login.jpg" alt="dj rate app">
</h2>
<p><br></p>
<p class="paragraph-image-description">
  The aim of this project was to solve a problem of our current days: everyone is
  more than often looking and interacting with their mobile devices, even at parties.
  In a way, this app aims to help people to focus in the present moment they are.
  </p>

<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Exploring</h2>


  <h2 >
  <img src="\dj__rate\qr-code.jpg" alt="">
</h2>

  <p>How would it work? The dj would add a qr code for the event, which would grant
    the user access to the event database, and allow to rate, discover and share music.
    This would help dj's to better understand his market niche and deliver
    playlists suited for each one. This would also increase popularity and
    awareness to their work.
 </p>
 <p><br></p>
 <p><br></p>
<h2>
  <img src="\dj__rate\end.jpg" alt="">
</h2>
