<h2 class="top-hero">

  <img src="\imagens__de--marca\hero-image.jpg" alt="marca pessoal">
</h2>



<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<h2 class="intro-text">Responsive website redesign.</h2>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>

<h2>
  <img src="\imagens__de--marca\intro-image.jpg" alt="">
</h2>


<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Background</h2>
<p><br></p>
<p><br></p>
<p class="paragraph-image-description">
  Imagens de Marca is a magazine of weekly information dedicated to branding, with issuance in SIC Notícias.

Issued since 2004 in SIC Notícias this 25-minute program is produced by the producer I'M in Motion, with authorship, editorial direction and presentation of Cristina Amaro.

</p>
<p><br></p>

<h2>
  <img src="\imagens__de--marca\old-site.jpg" alt="construção logo">
</h2>
<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered ">
  Redesign</h2>
  <p><br></p>
  <p><br></p>
<h2>
  <img src="\imagens__de--marca\IMG-LONGSLEEVE.jpg" alt="">
</h2>
