

<div class="jumbotron--brand">
  <img src="\weetabix\jumbotron__weetabix.jpg" alt="cereais weetabix">
</div>

<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<h2 class="intro-text">new weetabix flavour.</h2>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>
<p class="espaços">
  <br>
  <br>
  <br>
  <br>
</p>

<h2>
  <img src="\weetabix\weetabix.logo.jpg" alt="marca pessoal">
</h2>
<p><br></p>


<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Background</h2>
<p><br></p>
<p><br></p>
<p class="paragraph-image-description">
    Weetabix Food Company is the second largest branded manufacturer of cereals and cereal bars in the United Kingdom. Based in Northamptonshire, UK, its family of brands includes Weetabix, Alpen, Ready brek, Weetos,
    Oatibix and Alpen cereal Bars.
</p>
<p><br></p>

<h2>
  <img src="\weetabix\weetabix-products.jpg" alt="construção logo">
</h2>

  <p><br></p>
  <p><br></p>
<p class="paragraph-image-description">
The origin for the assignment was to evaluate my approach to
a below the line campaign for any company of my choice.

</p>
<p><br></p>
<h2>
  <img src="\weetabix\the-product.jpg" alt="">
</h2>
<p><br></p>
<p><br></p>
<h2 class="process-title process-title__centered">Strategy</h2>
<p><br></p>
<p><br></p>
<p class="centered-paragraph centered-paragraph__first-description">
I kept the seamless appearance to the overal brand by adding
a new flavour to the existing product line.
Besides the main logo, i developed all the elements from scratch keeping in mind
that this resulting product is also a member of the current line.
</p>
<p><br></p>
<h2>
  <img src="\weetabix\loja.jpg" alt="">
</h2>

<h2>
  <img src="\weetabix\loja-2.jpg" alt="">
</h2>

<h2>
  <img src="\weetabix\mupi.jpg" alt="">
</h2>
