.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;

}

.self__brand{
  margin-left:  -5px;

}

.hamburgueria{
  margin-left: 5px;
}

.music-app{
  margin-top: 5px;
  margin-left:  -5px;
}

.it-people{
  margin-top: 5px;
  margin-left: 5px;
}

.weetabix{
  margin-top: 5px;
  margin-left:  -5px;
}

.imagens-de-marca{
  margin-top: 5px;
  margin-left: 5px;
}
